@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "GlitchGoblin";
  src: url("./assets/font/GlitchGoblin-2O87v.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
