* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(160deg,
      #141028 0%,
      #0c0a22 30%,
      #1b1b4e 70%,
      #462b72 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  color: #ffffff;
}

/* Heading Title Animation */
.page-title {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  padding-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 0.5em;
}

.page-title:before,
.page-title:after {
  content: "Online Escape Rooms";
  position: absolute;
  top: 5;
  left: 2;
  right: 0;
  overflow: hidden;
  background-color: linear-gradient(to right, #0a1b3f, #1b275a, #3b1e66);
  color: #fff;
}

.page-title:before {
  left: 10px;
  text-shadow: 5px 0 #3cd1e9;
  animation: effect 3s infinite linear;
}

.page-title:after {
  left: 4px;
  text-shadow: -5px 0 #ff1d6f;
  animation: effect 2s infinite linear;
}

@keyframes effect {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }

  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }

  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }

  15% {
    clip: rect(35px, 9999px, 9px, 0);
  }

  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }

  25% {
    clip: rect(96px, 9999px, 98px, 0);
  }

  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }

  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }

  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }

  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }

  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }

  55% {
    clip: rect(23px, 9999px, 59px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 90px, 0);
  }

  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }

  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }

  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }

  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }

  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }

  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }

  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

/* Box Levels Container  */
.box-container {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 20px #bf9eff;
  background-color: #222;
  margin-bottom: 4em;
  border-radius: 15px;
}

.content-container {
  margin: auto;
  min-width: 90%;
  display: flex;
  align-items: center;
}

.box-image img {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 4px 8px #000000;
}

.box-content {
  display: block;
  width: fit-content;
  text-align: center;
  margin: auto;
}

.box-content-title {
  color: rgb(70, 185, 224);
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 24px;
}

.box-content-description {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5em;
  max-width: 300px;
  font-size: 17px;
}

/* Grey Box */
.grey-box {
  width: fit-content;
  background-color: rgba(217, 215, 215, 0.3);
  color: #000000;
  padding: 10px 12px;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 500;
  min-width: 300px;
}

/* Play Now Button */
.play-button {
  background-color: #ffd300;
  min-width: 300px;
  border: none;
  padding: 10px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1em;
  font-size: 14px;
}

.play-button:hover {
  background-color: #f7c834;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #333131;
}

.locked {
  opacity: 0.5;
}

.play-button:disabled {
  background-color: #777;
  cursor: not-allowed;
}


/* Desktop Responsiveness */
@media screen and (max-width: 1024px) {
  .page-title {
    font-size: 35px;
    letter-spacing: 2px;
    padding-top: 30px;
  }

  .box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95vw;
    max-width: 900px;
    height: 33vh;
    padding: 0 60px;
  }

  .content-container {
    width: 100%;
  }

  .box-image img {
    width: 280px;
    height: 220px;
  }

  .box-content-title {
    font-size: 24px;
    margin-top: 15px;
    font-weight: 700;
  }

  .box-content-description {
    max-width: 290px;
    font-size: 18px;
    text-align: center;
  }

  .grey-box,
  .play-button {
    min-width: 300px;
    font-size: 16px;
  }
}

/* Tablet Responsiveness */
@media screen and (max-width: 768px) {
  .page-title {
    font-size: 28px;
    letter-spacing: 2px;
    padding-top: 30px;
  }

  .box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 700px;
    padding: 0 20px;
  }

  .box-image img {
    width: 260px;
    height: 210px;
  }

  .box-content-title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
  }

  .box-content-description {
    max-width: 270px;
    font-size: 17px;
  }

  .grey-box,
  .play-button {
    min-width: 270px;
  }
}

@media screen and (max-width: 450px) {
  .content-container {
    flex-direction: column;
  }

  .box-container {
    margin-top: 100px;
    min-height: 600px;
    max-width: none;
    width: 95vw;
    flex-direction: column;
  }

}