.footer {
    background-color: #141028;
    color: white;
    padding: 3rem 5% 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-des {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-top: 0.5rem;
}

.footer-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-size: 1rem;
   
}

.footer-links li {
    margin-bottom: 0.4rem;
   
}

.footer-links a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

.footer-links a:hover {
    color: #47758f;
}

.social-icons a {
    display: inline-block;
    margin-right: 0.8rem;
}

.social-icons img {
    width: 22px;
    height: 22px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.social-icons img:hover {
    opacity: 1;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.newsletter-form input {
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    margin-top: 0.25rem;
}

.btn-subscribe {
    background-color: #FFD300;
    color: black;
    border: none;
    padding: 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;;
}

.btn-subscribe:hover {
    background-color: white; /*change it*/
}


.footer-bottom {
    text-align: center;
    font-size: 0.85rem;
    color: var(--text-muted);
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;
}

/*-------------------- Media Queries --------------------*/
/* For tablet */
@media screen and (min-width: 768px) {
    .footer-content {
        gap: 2.5rem;
    }

    .footer-desc {
        font-size: 0.95rem;
    }

    .social-icons img {
        width: 24px;
        height: 24px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .footer-content {
        gap: 5rem;
    }
}