@keyframes pulse {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

main {
    align-content: center;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;

}

.header-container {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.header-img {
    width: 100%;
    height: 80vh;
    display: block;
    object-fit: cover;
}

.img-overlay {
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: left;
    color: white;
}

.img-overlay h1 {
    font-weight: bold;
    font-size: 4rem;
    font-family: "GlitchGoblin", sans-serif;
    text-shadow: 2px 2px purple;

}

.fly-header {
    opacity: 0;
    transform: translateY(40px);
    transition: 2s ease;
}

.fly-header.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero-btn {
    animation: pulse 1s infinite ease-in-out;
    display: inline-block;
    margin-top: 5px;
    padding: 1rem 2rem;
    background-color: #FFD300;
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.hero-btn:hover {
    color: white;
    background-color: purple;
}

.spacer {
    height: 10vw;
}

.about {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-family: "GlitchGoblin", sans-serif;
    color: #ae0874;
    font-size: 2rem;
    font-weight: 700;
}

.about p {
    color: #63b6e6;
    font-size: 23px;
    width: 60%;
    margin-top: 15px;
    line-height: 1.4;

}

.pts {
    padding: 140px 20px;
    background: linear-gradient(160deg, #141028 0%, #0c0a22 30%, #1b1b4e 70%, #462b72 100%);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.info-sec {
    border-radius: 15px;
    background-color: #141028;
    padding: 60px 10px;
    box-shadow: 0 2px 6px #ae0874;
    flex: 0 1 30%;
    max-width: 33%;

}

.info-sec h1 {
    text-shadow: 2px 2px #ae0874;
    font-family: "GlitchGoblin", sans-serif;
    margin-top: 10px;
}

.info-sec p {
    margin-top: 10px;
    text-shadow: 1px 2px #ae0874;
    font-size: 18px;
}

@media (max-width: 788px) and (min-width: 755px) {
    .img-overlay h1 {
        font-size: 3rem;
    }

    .hero-btn {
        padding: 0.8rem 1.6rem;
        font-size: 17px;
    }

    .about p {
        font-size: 20px;
        width: 70%;
    }
}

@media (max-width: 754px) {

    .img-overlay h1 {
        font-size: 3rem;
        text-shadow: 1px 1px purple;
    }

    .hero-btn {
        padding: 0.7rem 1.2rem;
        font-size: 16px;
    }

    .about p {
        font-size: 20px;
        width: 80%;
    }

    .pts {
        flex-direction: column;
        align-items: center;
        /* padding: 100px 20px;    */
    }

    .info-sec {
        max-width: 500px;
        width: 100%;
        flex: none;
    }
}