/* Pages: Level2.jsx */
* {
  box-sizing: border-box;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#quiz {
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
  border-radius: 8px;
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
  margin-bottom: 3em;
}

#question-overview {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  color: #9082a3;
  margin: 0;
  text-transform: uppercase;
}

#question progress {
  width: 50%;
  height: 0.5rem;
  border-radius: 24px;
  background: #9e5ef8;
  margin: 0;
}

#question progress::-webkit-progress-bar {
  background: #6a558a;
  border-radius: 24px;
}

#question progress::-webkit-progress-value {
  background: #9e5ef8;
  border-radius: 24px;
}

#question progress.answered {
  background: #f8e59c;
}

#question progress.answered::-webkit-progress-value {
  background: #f8e59c;
}

#question progress.answered::-webkit-progress-bar {
  background: #6a558a;
}

#question h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 0 2.5rem 0;
  color: #c1b2dd;
  margin-top: 1em;
}

#answers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 90%;
  margin: 0 auto;
}

.answer button {
  color: white;
  display: inline-block;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  background: linear-gradient(160deg, #141028 0%, #0c0a22 30%, #1b1b4e 70%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
}

.answer button:hover,
.answer button:focus {
  background: #9d5af5;
  color: white;
}

.answer button.selected {
  background: #f5a76c;
  color: #2c203d;
}

.answer button.correct {
  background: #5af59d;
  color: #2c203d;
}

.answer button.wrong {
  background: #f55a98;
  color: #2c203d;
}

#skip-action {
  margin-top: 2rem;
}

#skip-action button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  border: none;
  background: transparent;
  color: #9082a3;
  cursor: pointer;
}

#skip-action button:hover,
#skip-action button:focus {
  color: #c7bfd6;
}

/* Components: Summary.jsx  */
#summary {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #a17eda 0%, #895fc4 100%);
  color: #191321;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
}

#summary h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #3a2353;
}

#summary ol {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#summary li {
  margin: 2rem 0;
}

#summary h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c203d;
  color: #d8cde8;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#summary .question {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #30273a;
}

#summary .user-answer {
  margin: 0.25rem 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #251e2f;
}

#summary .user-answer.correct {
  color: #054e05;
}

#summary .user-answer.wrong {
  color: #8e0419;
}

#summary .user-answer.skipped {
  color: #faedff;
  font-weight: bolder;
  font-weight: normal;
}

#summary-stats {
  display: flex;
  gap: 3rem;
  width: 100%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #594276;
}

#summary-stats p {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#summary-stats .number {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #594276;
}

#summary-stats .text {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #30273a;
  margin-top: -0.7rem;
  margin-left: 0.2rem;
  letter-spacing: 0.1rem;
  margin-top: 1em;
}