.MatchGame {
  max-width: 580px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-top: 2em;
}
button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  font-size: auto;
  padding: 20px;
}

.card {
  font-size: 12px;
}

@media (min-width: 768px) {
  .MatchGame {
    max-width: 900px;
    margin: 50px auto;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px;
    grid-gap: 50px;
    font-size: 0 auto;
  }

  button {
    font-size: 1.2em;
    padding: 8px 16px;
  }

  .card {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .MatchGame {
    max-width: 1200px;
    margin: 60px auto;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px;
    grid-gap: 40px;
  }

  button {
    font-size: 1.2em;
    padding: 10px 14px;
  }

  .card {
    font-size: 15px;
  }
}
