.login--page {
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(160deg, #141028 0%, #0c0a22 30%, #1b1b4e 70%, #462b72 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login--form {
    background-color: #141028;
    width: 30%; /*for media query:380px; */
    height: 60vh;
    padding: 35px 40px;
    border-radius: 25px;
    box-shadow: 0 3px 7px #ae0874;
}


.login {
    font-family: "GlitchGoblin", sans-serif;
    text-shadow: 2px 2px #ae0874;
    text-align: center;
    font-size: 65px; /* font-size: 28px; */
    font-weight: bold;
    color: white; /*#5f2eea;*/
    margin-bottom: 20px;
}
.login--your-info {
    margin-top: 30px; /*change for media*/
    
}

.form--group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form--group label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
    color: white;
    text-align: left;
}


.form--group input {
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #e3e3e3;
    outline: none;
    /* transition: border-color 0.2s; */
    box-shadow: 0 2px 6px #ae0874;
}

.input-valid {
    border-color: #5cb85c !important;
}

.input-invalid {
    border-color: #d9534f !important;
}

.form--group input:focus {
    border-color: #5f2eea;
}



.login--error {
    color: #d9534f;
    font-size: 13px;
    margin-top: 5px;
}




.login--buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn-login,
.btn-signup {
    width: 48%;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: opacity 0.2s ease-in-out;
    background: #5f2eea;
    color: white;
    text-decoration: none;
}

.btn-login:hover,
.btn-signup:hover {
    opacity: 0.85;
}

#message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #d9534f;
}

@media (max-width: 788px) and (min-width: 755px) {
    
}