.login--page {
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(160deg, #141028 0%, #0c0a22 30%, #1b1b4e 70%, #462b72 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login--form {
    background-color: #141028;
    width: 380px; /* 25%*/
    height: 60vh;/*474.6px */
    padding: 35px 40px;
    border-radius: 25px;
    box-shadow: 0 3px 7px #ae0874;
}


.login {
    font-family: "GlitchGoblin", sans-serif;
    text-shadow: 2px 2px #ae0874;
    text-align: center;
    font-size: 60px; 
    font-weight: bold;
    color: white; 
    margin-bottom: 20px;
}
.login--your-info {
    margin-top: 30px; /*change for media*/
    
}

.form--group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form--group label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
    color: white;
    text-align: left;
}


.form--group input {
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #e3e3e3;
    outline: none;
    box-shadow: 0 2px 6px #ae0874;
}

.input-valid {
    border-color: #5cb85c !important;
}

.input-invalid {
    border-color: #d9534f !important;
}

.form--group input:focus {
    border-color: #5f2eea;
}

.login--error {
    color: #d9534f;
    font-size: 13px;
    margin-top: 5px;
}

.btn-login {
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: #5f2eea;
  color: white;
  transition: 0.2s ease;
}

.btn-login:hover {
    opacity: 0.85;
}

.authswitch {
    margin-top: 15px;
}
.auth-link {
    color: #ae0874;
    font-weight: 800;
}
.auth-link:hover {
    color: #5f2eea;

}

#message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #d9534f;
}

/*mobile*/
@media (max-width: 480px) {

  .login--form {
    width: 90%;
    height: auto; 
    padding: 25px 20px;
  }

  .login {
    font-size: 40px; 
    margin-bottom: 15px;
  }

  .login--your-info {
    margin-top: 15px;
  }

  .form--group input {
    font-size: 14px;
    padding: 10px 12px;
  }

  .btn-login {
    padding: 10px;
    font-size: 15px;
  }

  .authswitch {
    font-size: 14px;
  }
}


@media (max-width: 768px) and (min-width: 481px) {

  .login--form {
    width: 75%;
    height: auto;
    padding: 30px 30px;
  }

  .login {
    font-size: 48px;
  }

  .login--your-info {
    margin-top: 20px;
  }

  .form--group input {
    padding: 12px;
    font-size: 15px;
  }
}

