.header {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background-color: #342d59;
    color: white;
    position: relative;
    z-index: 20;
}

.nav_logo {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu-icon {
    color: white;
    margin-left: auto;
    background-color: transparent;
    /* margin-bottom: 25px; */
    display: block;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
}

.nav_menu {
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 100%;
    left: 0;
}

.nav_list {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.nav_item {
    padding: 14px 20px;
    border-bottom: 1px solid #333;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
}

@media (min-width: 501px) {
    .menu-icon {
        display: none !important;
    }

    .nav_menu {
        max-height: none !important;
        overflow: visible !important;
        position: static;
        background: none;
        width: auto;
    }

    .nav_list {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }

    .nav_item {
        border: none;
        padding: 0;
    }
}


@media (max-width: 500px) {

    .nav_menu {
        width: 100%;
        background: #222;
    }

    .nav_list {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav_item {
        width: 100%;
    }

    .nav_link {
        display: block;
        width: 100%;
    }
}