.signup--page {
    min-height: 100vh;
    margin-bottom: 10px;
    width: 100vw;
    background: linear-gradient(160deg, #141028 0%, #0c0a22 30%, #1b1b4e 70%, #462b72 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.signup-title {
    font-family: "GlitchGoblin", sans-serif;
    text-shadow: 2px 2px #ae0874;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.signup--inputs {
    margin-top: 20px;
}


.form--group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form--group label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
    color: white;
    text-align: left;
}


.form--group input,
.form--group select {
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #e3e3e3;
    outline: none;
    transition: border-color 0.2s;
    box-shadow: 0 2px 6px #ae0874;
    background: white;
}


.input-valid {
    border-color: #5cb85c !important;
}

.input-invalid {
    border-color: #d9534f !important;
}


.form--group input:focus,
.form--group select:focus {
    border-color: #5f2eea;
}

.signup--error {
    color: #d9534f;
    font-size: 13px;
    margin-top: 5px;
}


.signup--buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


.btn-signup {
    width: 48%;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: opacity 0.2s ease-in-out;
    background: #5f2eea;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn-signup:hover {
    opacity: 0.85;
}

#signup-message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #d9534f;
}

.accswitch {
    margin-top: 15px;
    font-size: 18px;
}
.acc-link {
    
    color: #ae0874;
    font-weight: 900;
}
/* EXTRA SMALL DEVICES (339px*/
@media (max-width: 339px) {
  
  .sign--form {
    width: 92%;            
    padding: 20px 15px;  
    border-radius: 18px;    
  }

  .signup-title,
  .login {                  
    font-size: 32px;        
    margin-bottom: 18px;
  }

  .form--group input,
  .form--group select {
    padding: 10px 12px;     
    font-size: 14px;
  }

  .form--group {
    margin-bottom: 12px;
  }

  .btn-login {
    padding: 10px;
    font-size: 15px;
  }

  .accswitch {
    font-size: 14px;
    margin-top: 12px;
  }
}


